@media (max-width: 600px){   /*Configuraciones para pantallas pequeñas*/
    body{
        font-size: 14px;
    }
    .container{
        flex-direction: column;
    }
}

img{
    max-width: 100;
    height: auto;
}

body {
    background-image: url('Imagen/Background2.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la pantalla */
    height: 200vh; /* Asegura que el fondo cubra toda la altura del viewport */
    margin: 100; /* Elimina cualquier margen alrededor del body */
}

h1{
    text-align: center;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size: 56px;
    margin-bottom: 5px;
}

p {
    color: white;
    text-align:  center;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
}

.contenedor {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    font-family:'Times New Roman', Times, serif;
}

.imagen1 {
    text-align: left;
    color: white;
    margin: 50px;
    margin-top: auto;
    margin-bottom: 25px;
    margin-right: 10px; /* Espacio entre el texto y la imagen */
    font-family:'Times New Roman', Times, serif;
}

.Pin1 {
    margin: 50px;
    margin-top: 0px;
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el comentario */
    font-family:'Times New Roman', Times, serif;
}

.comentario {
    margin: 0; /* Elimina margen superior e inferior */
    text-align: justify;
    margin-bottom: 60px;
    max-width: 800px;
    margin-left: 100px;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

/*Codigo para la imagen #2*/

.contenedor2 {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    font-family:'Times New Roman', Times, serif;
}

.imagen2 {
    text-align: left;
    color: white;
    margin: 50px;
    margin-top: auto;
    margin-bottom: 25px;
    margin-right: 10px; /* Espacio entre el texto y la imagen */
    font-family:'Times New Roman', Times, serif;
}

.Pin2 {
    margin: 50px;
    margin-top: 0px;
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el comentario */
    font-family:'Times New Roman', Times, serif;
}

.comentario2 {
    margin: 0; /* Elimina margen superior e inferior */
    text-align: justify;
    margin-bottom: 60px;
    max-width: 800px;
    margin-left: 100px;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

/*Codigo para la imagen #3*/

.contenedor3 {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    font-family:'Times New Roman', Times, serif;
}

.imagen3 {
    text-align: left;
    color: white;
    margin: 50px;
    margin-top: auto;
    margin-bottom: 25px;
    margin-right: 10px; /* Espacio entre el texto y la imagen */
    font-family:'Times New Roman', Times, serif;
}

.Pin3 {
    margin: 50px;
    margin-top: 0px;
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el comentario */
    font-family:'Times New Roman', Times, serif;
}

.comentario3 {
    margin: 0; /* Elimina margen superior e inferior */
    text-align: justify;
    margin-bottom: 60px;
    max-width: 800px;
    margin-left: -200px;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

/* Especificaciones para los footers*/

.Agradecimiento{
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.firma{
    color: white;
    margin: 50px;
    text-align: left;
    margin-top: 5px;
    font-family:'Times New Roman', Times, serif;
}